nav{
  background:#3E8759;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}
.Link{
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
.logo{
  text-decoration: none;
  margin-right:auto ;
  color: #580204;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
body{
  background:#FFDC0F;
}
.about{
  color:black;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-align: justify;
}
h1{
  font-size: 30px;
  color: #580204;
  font-family: 'Montserrat', sans-serif;
}
button {
  margin: 10px;
}
h3{
  font-size: 16px;
}
h4{
  font-size: 15px;
}
.products {
  display: flex;
  flex-wrap: wrap;
 
}
.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}
.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.change {
  background-color:#3FB88B;
  color: white;
  padding: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color:#363636;
  font-weight: bolder;
}
.catalog{
  text-align: center;
}
.description{
  text-align:inherit;
  font-size: 15px;

}
.header{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
padding: 15px;
text-align: center;
}

.containerHome {
  display: flex;
  justify-content: center;
  background-color: #FFDC0F;
  height: 350px;
}
.buttonHome{
  width: 70px;
  background: #FFDC0F;
  border: none;
}

.details{
  background:#3FB88B;
  padding: 10px;
  border: none;
  color:white;
  width: 100px;

}

.categoryButtonSelected{
  background-color: #3FB88B;
  cursor:pointer;
  
}
.categoryButton:hover {

  background-color: darksalmon;
 
}

.allCategory{
  display: flex;
  justify-content:center;
}
.filterCategory{
  padding: 10px;
}

.furnImg{
  width: 200px;
height: 300px;
}


.categoryButtonSelected{
  background-color: #3FB88B;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
.categoryButton:hover {
  background-color: #fdeb6b;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

